<div class="form-section">
    <form id="movieForm" method="POST" action="/api/v1/movie/web">
        <div class="form-group">
            <label for="page">Page</label>
            <input type="number" class="form-control" id="page" placeholder="Enter page number" name="page">
        </div>
        <div class="form-group">
            <label for="perPage">limit</label>
            <input type="number" class="form-control" id="perPage" placeholder="Enter limit" name="perPage">
        </div>

        <div class="form-group">
            <label for="search">search</label>
            <input type="text" class="form-control" id="search" placeholder="Enter limit" name="search">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>